$pink: #ff0096;
$med-gray: #5A5E6F;

.NDA {
  margin: 200px 2em 250px 2em;
}

.NDA-signature-container {
  padding: 1em;
  background-color: #fff;
  height: 175px;
  position: fixed;
  bottom: 0;
  width: 95vw;
}
.NDA-signature {
  margin: 0 auto;
  text-align: center;
  .NDA-signed {
    font-size: 1em;
  }
}

.sigCanvas {
  width: 100%;
  height: 125px;
  border: 1px solid $med-gray;
}
